{% extends 'base.html' %}

{% block header_text %}Start a new To-Do list{% endblock %}

{%block form_action %}/lists/new{% endblock %}

{% block list_title %}<p>Welcome to Superlists! Superlists lets users add to-do items to unique lists. When you type a list item in the field above, you start a new list that you can come back to at any time. Anyone else with your list link can also access your list and add items. Ready to make your first lists? Choose Superlists!</p>{% endblock %}

{% block home_columns %}

						<div class="container">
	      <!-- Example row of columns -->
	      <div class="row">
	        <div class="col-md-4">
	          <h2>We &#60;3 Lists</h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	        <div class="col-md-4">
	          <h2>Heading</h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	       </div>
	        <div class="col-md-4">
	          <h2>Heading</h2>
	          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	      </div>

	      <hr>

	      
	    </div> <!-- /container -->

	    {% endblock %}